<div>
  <div class="widgets-container">
    <% widgets.order(:position).each do |widget| %>
      <div class='widget' style="background-color: <%= widget.background_color %>;">
        <h3><%= widget.title %></h3>
        <p class='content'> <%= widget.content %></p>
        <%= link_to 'Edit', path %>
        <%= link_to 'Delete', path %>
      </div>
    <% end %>
  </div>
</div>

<script>

</script>

